

.menu{display: block;
    width: max-content;
    background-color: rgb(220, 140, 211);
    font-family: 'Times New Roman', Times, serif;
    font-size: 40px;
    margin-top: 35;
    
    
}
.foto{position: right;
    width:15%;
    height: 30%;
margin-top: 5px;
margin-left: 10%;}

.text1 {position: absolute;
    margin-left: 50%;
    margin-top: 5%;
    width: 50%;
    height: 80%;
    border-style: dotted;
    background-color: rgba(148, 7, 146, 0.208);
    font-family: 'Times New Roman';
    font-size: 38px;
    text-align: justify;

}
.fon {background-color: rgba(255, 0, 255, 0.167);}
.ball {
    position: absolute;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-left: 70%;
    background-color: yellow;
animation: bounce 1s ease-in-out infinite alternate, resize 2s ease-in-out infinite alternate;
}
.greeting {
    font-family:  Verdana;
    font-size: xx-large;
    size: 70%;
    color:blueviolet;
    animation: slidein 2s ease-in-out infinite alternate;
}
@keyframes bounce {
    from {
        top: 0;
    }
    to {
        top: 200px;
    }
}
@keyframes resize {
    from {
        width: 50px;
        height: 50px;
        background-color: rgb(34, 0, 255);
    }

    to {
        width: 150px;
        height:150px;
        background-color: rgb(246, 255, 0);
    }
}
@keyframes slidein {
    from {
        margin-left: 100%;
        width: 300%;
        color: rgb(247, 23, 11);
    }

    to {
        margin-left: 0%;
        width: 100%;
        color: rgb(27, 174, 14);
    }
}